body {
  font-family: Roboto, sans-serif;
  color: #0f3c4b;
  background-color: #e5edf1;
  padding: 80px 20px;
}

.container {
  width: 100%;
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
}

.contentbox {
  font-size: 1.25rem;
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
}
.contentbox.-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
}

.contentbox__draganddrop,
.contentbox__icon {
  display: visible;
}
.contentbox.-upload .contentbox__draganddrop {
  display: inline;
}
.contentbox.-upload .contentbox__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.contentbox__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.contentbox__file,
label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}

.contentbox__button {
  display: block;
}
.contentbox__button {
  font-weight: 700;
  color: #e5edf1;
  background-color: #39bfd3;
  display: none;
  padding: 8px 16px;
  margin: 40px auto 0;
}
